* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", serif;
}

section {
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Profile Style */
section.profile {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.profile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  border: solid 2px;
  margin-top: 70px;
  border-color: black;
}

img {
  width: 150px;
  object-fit: cover;
  object-position: top;
  transform: scale(1.5);
  height: 150px;
}

/* Main Style */
section.main {
  /* background-color: ; */
  width: 100%;
  padding: 20px 100px 20px 100px;
}

.container-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  border-radius: 2px;
  border-radius: 50px;
  border: solid 1px;
  width: 100%;
  transition: all;
}

a {
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

footer {
  margin: 50px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  section.main {
    padding: 10px;
  }

  .card img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .card img {
    width: 30px;
    height: 30px;
  }
}
